.contactList {
    overflow-y: auto;
    height: calc(100% - 70px - var(--card-margin-y) * 3);
}

.contactListSubheading {
    color: rgb(var(--color-text-secondary));
    font-size: var(--font-size-md);
    font-weight: 500;
    margin: 1.5rem 1.5rem 0.5rem;
    text-transform: uppercase;
}

.noContactsMsg {
    color: rgb(var(--color-text-secondary));
    font-size: var(--font-size-md);
    text-align: center;
}