.messageBox {
    height: 65px;
    width: 100%;
    margin: 0.5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.messageBox input {
    border: 0;
    font-size: 1rem;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    border-radius: 1rem;
    box-shadow: var(--card-shadow);
}

.sendBtn {
    background-color: rgb(var(--bg-torch-red));
    border-radius: 1rem;
    color: rgb(var(--color-primary-white));
    cursor: pointer;
    margin: 1rem;
    margin-left: 0.5rem;
    padding: 1rem;
    height: 65px;
    width: 65px;
}