.contactCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1.5rem;
}

.contactCard:hover {
    background-color: rgb(var(--bg-grey));
    cursor: pointer;
}

.selected {
    background-color: rgb(var(--bg-grey));
}

.chatDetails {
    max-width: 175px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chatUserName,
.chatPreview {
    font-size: var(--font-size-md);
    margin: 0.25rem 0;
}

.chatPreview {
    color: rgb(var(--color-text-secondary));
}

.timestamp {
    color: rgb(var(--color-text-secondary));
    font-size: var(--font-size-sm);
    margin: 0.25rem 0;
    white-space: nowrap;
}

.divider {
    background-color: rgb(var(--bg-grey));
    height: 1.5px;
    width: calc(100% - 4rem);
    margin: 0 auto;
}

.pinBtn {
    border-radius: 5rem;
    color: rgb(var(--color-torch-red));
    margin-left: 0.25rem;
    margin-right: -1rem;
    padding: 0.5rem;
}

.pinBtn:hover {
    background-color: rgb(var(--bg-dark-grey));
}