.messageBubble {
    background-color: rgb(var(--bg-torch-red));
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    max-width: 75%;
    width: fit-content;
    height: fit-content;
    word-break: break-all;
    position: relative;
}

.primaryMessage {
    background-color: rgb(var(--bg-torch-red));
    border-bottom-right-radius: 0;
    margin-left: auto;
    color: rgb(var(--color-primary-white));
}

.secondaryMessage {
    background-color: rgb(var(--bg-grey));
    border-bottom-left-radius: 0;
}

.secondaryContainer {
    display: flex;
    padding: 0.25rem;
    padding-bottom: 1rem;
}

.primaryContainer {
    padding: 0.25rem;
    padding-bottom: 1rem;
}

.primaryContainer img,
.secondaryContainer img {
    height: 40px;
    width: 40px;
}

.timestamp {
    color: rgb(var(--color-primary-black));
    position: absolute;
    bottom: -1rem;
    right: 0;
    opacity: 0.9;
    font-size: 0.6rem;
    margin-left: 0.5rem;
}