.messageBubble {
    background-color: rgb(var(--bg-torch-red));
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    max-width: 75%;
    min-width: 65px;
    width: fit-content;
    height: fit-content;
    word-break: break-all;
    position: relative;
    font-size: var(--font-size-md);
}

.primaryMessage {
    background-color: rgb(var(--bg-torch-red));
    border-bottom-right-radius: 0;
    margin-left: auto;
    color: rgb(var(--color-primary-white));
}

.secondaryMessage {
    background-color: rgb(var(--bg-grey));
    border-bottom-left-radius: 0;
}

.secondaryContainer {
    display: flex;
}

.primaryContainer,
.secondaryContainer {
    padding: 0.5rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
}

.primaryContainer:hover .deleteBtn,
.secondaryContainer:hover .deleteBtn {
    display: flex;
}

.primaryContainer img,
.secondaryContainer img {
    height: 40px;
    width: 40px;
}

.deleteBtn {
    color: rgb(var(--bg-torch-red));
    cursor: pointer;
    border-radius: 30px;
    margin-left: 0.25rem;
    height: 30px;
    width: 30px;
    display: none;
}

.deleteBtn:hover {
    background-color: rgb(var(--bg-grey));
}

.timestamp {
    color: rgb(var(--color-primary-black));
    position: absolute;
    bottom: -1rem;
    right: 0;
    opacity: 0.9;
    font-size: var(--font-size-sm);
    margin-left: 0.5rem;
}