.sidebar {
    flex: 0.5;
    border-radius: var(--card-border-radius);
    text-align: center;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; */
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    padding: 1rem 0;
}

@media screen and (max-width: 1000px) {
    .sidebar {
        display: none;
    }
}