.sidebar {
    flex: 0.5;
    border-radius: var(--card-border-radius);
    text-align: center;
    height: calc(100% - 1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.5rem;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    padding: 0.75rem 0;
}

.iconBtn {
    border-radius: 45px;
    height: 45px;
    width: 45px;
}

.iconBtn:hover {
    background-color: rgb(var(--bg-grey));
}

@media screen and (max-width: 1000px) {
    .sidebar {
        flex: unset;
        flex-direction: row;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0.5rem 1rem;
        height: 80px;
        width: 100%;
    }

    .sidebar ul {
        display: flex;
        align-items: center;
    }

    .sidebar li {
        padding: 0 0.75rem;
    }
}