.container {
    height: 100vh;
}

.content {
    /* background-color: var(--bg-primary-white); */
    border-radius: var(--border-radius);
    height: 90%;
    width: 75%;
    display: flex;
}

@media screen and (max-width: 1300px) {
    .content {
        width: 90%;
    }
}