.container {
    height: 100vh;
}

.content {
    border-radius: var(--border-radius);
    height: 90%;
    width: 75%;
    display: flex;
}

@media screen and (max-width: 1300px) {
    .content {
        width: 90%;
    }
}

@media screen and (max-width: 1000px) {
    .content {
        padding-top: 50px;
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .content {
        display: unset;
    }
}