/* Css variables
Colors are in format of rgb */
:root {
  --bg-primary-white: #FFFFFF;
  --bg-torch-red: 253 36 62;
  --bg-grey: 220, 220, 220;
  --bg-hover-grey: rgb(240, 240, 240);
  --btn-border-radius: 4rem;
  --btn-padding: 0.75rem 1.5rem;
  --color-primary-black: 29 33 48;
  --color-primary-white: 255 255 255;
  --color-torch-red: 253 36 62;
  --color-text-secondary: 180 180 180;
  --card-border-radius: 1.5rem;
  --card-margin: 0.5rem;
  --card-padding: 1.25rem;
  --card-shadow: 0px 28.979px 19.171px 0px rgb(0 0 0 / 4%), 0px 15.047px 9.78px 0px rgb(0 0 0 / 4%), 0px 6.13px 4.904px 0px rgb(0 0 0 / 3%), 0px 1.393px 2.368px 0px rgb(0 0 0 / 2%);
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFF1F3;
  margin: 0;
}

/* Scrollbar customization start */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 1rem;
  margin: 2rem 0;
}

::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #9b9b9b;
}

/* Scrollbar customization end */

/* Common styles */

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--bg-primary-white);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);
  margin: var(--card-margin);
}

.btn {
  background-color: unset;
  border: none;
  border-radius: var(--btn-border-radius);
  cursor: pointer;
  outline: none;
  padding: var(--btn-padding);
}